<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>Back To DashBoard</a>
  </div>
  <div class="col-md-6"></div>
</div>


<div class="row">
  <div class="col-md-8">

  </div>
  <div class="col-md-4"></div>
</div>



<div class="card">
  <div class="card-header">
    Edit Client
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" ngModel name="firstName" #clientFirstName="ngModel" [(ngModel)]="client.firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" #clientLastName="ngModel"  [(ngModel)]="client.lastName">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" [(ngModel)]="client.email" name="email" #clientEmail="ngModel" value="{{client.email}}">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" [(ngModel)]="client.phone" name="phone" #clientPhone="ngModel" >
        </div>


        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="number" class="form-control" name="balance" [disabled]="disableBalanceOnEdit" [(ngModel)]="client.balance">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Update</button>

      </div>
    </form>
  </div>
</div>